@import "../settings/colors";

.footer{
	padding: 70px 0;
	background-color: #f2f2f2;
	@media screen and (max-width: 767px) {
	  padding: 40px 0px;
	}
	ul{
		padding-left: 0;
		margin: 0;
		li{
			list-style: none;
			margin-right: 15px;
			display: inline-block;
			&:last-child{
				margin-right: 0;
			}
			a.footer-icon{
				display: inline-block;
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
				width: 15px;
				height: 15px;
				&.footer-wsp{
					background-image: url('../img/icon-wsp.png');
				}
				&.footer-ig{
					background-image: url('../img/icon-ig.png');
				}
				&.footer-tw{
					background-image: url('../img/icon-tw.png');
				}
				&.footer-web{
					background-image: url('../img/icon-web.png');
				}
			}
		}
	}
	p{
		color: #525656;
		font-size: 12px;
		line-height: 16px;
		font-weight: 600;
		padding-top: 30px;
	}
	.footer-content{
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 30px;
		.footer-item{
			flex: 1 1 0px;
			padding: 0 30px;
		}
		.footer-logo{
			display: inline-block;	
			border-right: 1px solid #6AC4CC;
			display: flex;
			justify-content: end;
			img{
				width: 200px;
				max-width: 100%;
			}
		}
	}
}