@import "../settings/colors";

.footer{
	padding: 50px 0 120px;
	.footer__title{
		margin-bottom: 20px;
		text-decoration: none;
	}
	h3{
		margin-bottom: 15px;
	}
	ul{
		padding-left: 0;
		margin-bottom: 30px;
		li{
			list-style: none;
			margin-bottom: 14px;
			&:last-child{
				margin-bottom: 0;
			}
			a{
				display: inline-block;
			}
		}
	}
	p{
		color: #525656;
		font-size: 12px;
		line-height: 16px;
		font-weight: 600;
		padding-top: 30px;
	}
}